@model D07_MVC_EF6_DF_v2.Models.SubCategories

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubCategories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
